* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.container img {
    width: 20%;
    border-radius: 10px;
}